<!-- <h1>Hello app</h1> -->
<!-- <app-server></app-server> -->
<!-- <h2 class ='app-server'></h2> -->
<!-- <app-todo></app-todo> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-todo></app-todo>
    </div>
  </div>
</div> -->
<!-- <app-local-ref></app-local-ref> -->
<!-- <app-ng-content-ref> </app-ng-content-ref> -->
<!-- <app-cycle-hooks></app-cycle-hooks> -->
<!-- <app-directive-test></app-directive-test> -->
<app-test-animation></app-test-animation>
<!-- <app-header></app-header>
<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
