<!-- <h1>Hello app</h1> -->
<!-- <app-server></app-server> -->
<!-- <h2 class ='app-server'></h2> -->
<!-- <app-todo></app-todo> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-todo></app-todo>
    </div>
  </div>
</div> -->
<!-- <app-local-ref></app-local-ref> -->
<!-- <app-ng-content-ref> </app-ng-content-ref> -->
<!-- <app-cycle-hooks></app-cycle-hooks> -->
<app-header (selectEmitter)="selectPage($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <app-recipes *ngIf="isRecipesPage" ></app-recipes>
        <app-shopping-list *ngIf="!isRecipesPage" ></app-shopping-list>
    </div>
  </div>
</div>
