<!-- <h1>Hello app</h1> -->
<!-- <app-server></app-server> -->
<!-- <h2 class ='app-server'></h2> -->
<!-- <app-todo></app-todo> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-todo></app-todo>
    </div>
  </div>
</div>
<!-- <app-local-ref></app-local-ref> -->
<app-ng-content-ref> </app-ng-content-ref>
<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <app-recipes></app-recipes>
        <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->
